{% extends "layout.html.twig" %}

{% block title %}Accueil{% endblock %}

{% block content %}
    <div class="jumbotron">
        <div class="row">
            <div class="col-md-5">
                <img class="img-responsive" id="imgHome" src="images/home.jpg" alt="Image d'accueil"/>
            </div>
            <div class="col-md-7">
                <div class="page-header">
                    <h1>Les Nuits de la Croix-Rousse <br><small>La nuit est notre moment</small></h1>
                </div>
            </div>
        </div>
    </div>
{% endblock %}